.footer {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  background-color: var(--background-color-footer);
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: var(--text-color-footer);
  border-top: 1px solid #e9ecef;
  margin-top: 20px;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.links {
  grid-area: 1 / 1 / 2 / 2;
}
.logo {
  grid-area: 1 / 2 / 2 / 3;
}
.social {
  grid-area: 1 / 3 / 2 / 4;
}
.copyright {
  grid-area: 2 / 1 / 3 / 4;
}

/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #f8f8f8;
} */

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerItem {
  display: inline;
  margin-right: 1rem;
}

.footerLink {
  text-decoration: none;
  color: #333;
}
