.footer {
  background-color: var(--background-color-footer);
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: var(--text-color-footer);
  border-top: 1px solid #e9ecef;
  margin-top: 20px;
  width: 100vw;
}
